@import 'tailwindcss';

@theme {
  --font-playfair-display: 'Playfair Display', serif;
  --font-lato: 'Lato', sans-serif;

  --color-verdant-green-900: #004d00;
  --color-verdant-green-800: #006400;
  --color-verdant-green-700: #007a00;
  --color-verdant-green-600: #009100;
  --color-gold-500: #d4af37;
  --color-gold-400: #e0c158;
  --color-gold-300: #ecd279;
  --color-cream-100: #fff8e1;
}